<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="page-header">Cardápio</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Categoria</th>
				<th>Preço</th>
				<th>
					<%= link_to new_admins_backoffice_sweet_path, class: "btn btn-success btn-circle btn-sm" do%>
					  <i class="fas fa-plus"></i>
					<% end %>
				</th>
			</tr>
		</thead>
		<tbody>
			<% @sweets.each do |sweet| %>
				<tr>
					<td><%= sweet.id %></td>
					<td><%= sweet.name %></td>
					<td><%= sweet.description.truncate(50) %></td>
					<td><%= sweet.subject.description.truncate(30) %></td>
					<td>R$ <%= sweet.price %></td>
					<td style="width: 100px">
						<%= link_to edit_admins_backoffice_sweet_path(sweet), class: "btn btn-primary btn-circle btn-sm" do%>
						  <i class="fas fa-edit"></i>
			    		<% end %>
						
						<%= link_to admins_backoffice_sweet_path(sweet), method: :delete, class: "btn btn-danger btn-circle btn-sm", data: { confirm: "Deseja realmente excluir esta categoria?"} do%>
						  <i class="fas fa-trash"></i>
			    	<% end %>
          </td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="container pagination justify-content-center">
		<%= paginate @sweets %> 
	</div>

</div>

