
<!DOCTYPE html>
<html>

  <head>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Confeitaria D.Claudia </title>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>
      
  </head>

  <body>

    <div class="hero_area">
      <div class="bg-box">
        <%= image_tag 'banner.jpg', alt: "" %>
      </div>
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <div>
              <a class="navbar-brand" href="index.html">
                <span>
                  <%= image_tag 'LogoD_Claudia.png', width:"100", height:"100" %>
                </span>
              </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto menu-item">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">Sobre</a>
                </li>
              </ul>
            </div>
          <!-- seccao user no site na navbar -->
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                    <div class="detail-box">
                      <h1>
                        Confeitaria <br> D. Claudia
                      </h1>
                      <p>
                        Atendemos as pessoas com muito carinho e dedicação, para que possam desfrutar de um momento único e especial.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                    <div class="detail-box">
                      <h1>
                        Confeitaria <br> D. Claudia
                      </h1>
                      <p>
                        É bem mais gostoso comer um doce feito com amor. É sobre poder oferecer as pessoas aquilo que você tem de melhor. 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                    <div class="detail-box">
                      <h1>
                        Confeitaria <br> D. Claudia
                      </h1>
                      <p>
                        Cozinhar é uma arte, mas a confeitaria precisa de uma sensibilidade maior. A confeitaria não é só para ganhar dinheiro, é uma paixão.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <ol class="carousel-indicators">
              <li data-target="#customCarousel1" data-slide-to="0" class="active" id="carousel-indicator"></li>
              <li data-target="#customCarousel1" data-slide-to="1" id="carousel-indicator"></li>
              <li data-target="#customCarousel1" data-slide-to="2" id="carousel-indicator"></li>
            </ol>
          </div>
        </div>

      </section>
      <!-- end slider section -->
    </div>

    <!-- offer section -->

    <section class="offer_section layout_padding-bottom">
      <div class="offer_container">
        <div class="container ">
          <div class="row">
            <div class="col-md-6  ">
              <div class="box ">
                <div class="img-box">
                  <%= image_tag 'ovopascoa', alt:"" %>
                </div>
                <div class="detail-box">
                  <h5>
                    <b>Ovos de Páscoa</b>
                  </h5>
                  <h6>
                    <span>20%</span> desconto
                  </h6>
                  <a href="" class="btn-custom">
                    Faça seu pedido 
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6  ">
              <div class="box ">
                <div class="img-box">
                  <%= image_tag 'niverbolo', alt:"" %>
                </div>
                <div class="detail-box">
                  <h5>
                    <b>Promoção Niver Carol</b>
                  </h5>
                  <h6>
                    <span>15%</span> desconto
                  </h6>
                  <a href="" class="btn-custom">
                    Faça seu pedido 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end offer section -->

    <!-- food section -->

    <section class="food_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            Nossas Especialidades
          </h2>
        </div>

        <ul class="filters_menu">
          <li class="active" data-filter="*">Todos</li>
          <% @subjects.each do |subject| %>
            <li data-filter=".<%= subject.description.gsub(/\s+/, "") %>"><%= subject.description %></li>
          <% end %>
        </ul>

        <div class="filters-content">
          <div class="row grid align-itens-center">
            <% @sweets.each do |sweet| %>
              <div class="col-12 col-sm-6 col-lg-4 all <%= sweet.subject.description.gsub(/\s+/, "") %>">
                <div class="box">
                  <div class="card-img-top" >
                    <%= cl_image_tag(sweet.image.key, width: 479, height: 215, crop: :fill) %>
                  </div>
                  <div class="card-body">
                    <h5 class= "card-title">
                      <%= sweet.name %>
                    </h5>
                    <p class="card-text">
                      <%= sweet.description %>
                    </p>
                    <div class="price">
                      <h6><%= format("R$ %.2f", sweet.price)%></h6>
                    </div>
                    <div class="order">    
                      <a href="#" class="btn-custom">
                        Faça o seu Pedido<i class="bi bi-cart"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            
          </div>
        </div>

        <div class="btn-box ">
          <a href="">
            View More
          </a>
        </div>
      </div>
    </section>

    <!-- end food section -->

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container  ">

        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  A nossa chef
                </h2>
              </div>
              <p>
                Ana resolveu iniciar a marca porque precisava ganhar dinheiro, mas queria que
                fosse algo que realmente gostasse de fazer. A princípio, não queria ter uma
                confeitaria, mas gostaria de trabalhar pelo menos com pronta entrega, para poder
                atender as pessoas com as mais diversas demandas de doces. E a gastronomia sempre
                foi um sonho. <br>
                O propósito da confeitaria D. Claudia é adoçar vidas. <br>
                  <span>"É bem mais gostoso comer um doce feito com amor. É sobre poder oferecer para as pessoas aquilo que você tem de melhor. Cozinhar é uma arte, mas a confeitaria precisa de uma sensibilidade maior. A confeitaria não é só para ganhar dinheiro, é uma paixão".</span> <br>
                É para que o cliente coma um doce da confeitaria e tenha uma memória afetiva.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- book section -->
    <section class="book_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Book A Table
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <form action="">
                <div>
                  <input type="text" class="form-control" placeholder="Your Name" />
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Phone Number" />
                </div>
                <div>
                  <input type="email" class="form-control" placeholder="Your Email" />
                </div>
                <div>
                  <select class="form-control nice-select wide">
                    <option value="" disabled selected>
                      How many persons?
                    </option>
                    <option value="">
                      2
                    </option>
                    <option value="">
                      3
                    </option>
                    <option value="">
                      4
                    </option>
                    <option value="">
                      5
                    </option>
                  </select>
                </div>
                <div>
                  <input type="date" class="form-control">
                </div>
                <div class="btn_box">
                  <button>
                    Book Now
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_container ">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end book section -->

    <!-- client section -->

    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
          <h2>
            What Says Our Customers
          </h2>
        </div>
        <div class="carousel-wrap row ">
          <div class="owl-carousel client_owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>
                    Moana Michell
                  </h6>
                  <p>
                    magna aliqua
                  </p>
                </div>
                <div class="img-box">
                  <img src="images/client1.jpg" alt="" class="box-img">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>
                    Mike Hamell
                  </h6>
                  <p>
                    magna aliqua
                  </p>
                </div>
                <div class="img-box">
                  <img src="images/client2.jpg" alt="" class="box-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end client section -->
    
    <h1> LAYOUT SITE </h1>
      <%= yield %>
    
    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-col">
            <div class="footer_contact">
              <h4>
                Contact Us
              </h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Location
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +01 1234567890
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    demo@gmail.com
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <div class="footer_detail">
              <a href="" class="footer-logo">
                Feane
              </a>
              <p>
                Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
              </p>
              <div class="footer_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <h4>
              Opening Hours
            </h4>
            <p>
              Everyday
            </p>
            <p>
              10.00 Am -10.00 Pm
            </p>
          </div>
        </div>
        <div class="footer-info">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a><br><br>
            &copy; <span id="displayYear"></span> Distributed By
            <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
          </p>
        </div>
      </div>


    </footer>
    <!-- footer section -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl("<%= notice %>", {
					type: 'success', // (null, 'info', 'danger', 'success')
					align: 'right', // ('left', 'right', or 'center')
					allow_dismiss: true, // If true then will display a cross to close the popup.
					stackup_spacing: 10 // spacing between consecutively stacked growls.
				});
      <% end %>
		<% end %>

    
  </body>

</html>